/*졺*/
.comWidth{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}
.leftArea{
    float: left;
}
.rightArea{
    float: right;
}
a {
    color: #656565;
}
.hide{
    display: none;
}
.show{
    display: block;
}


.topBar{
    width: 100%;
    min-width: 1080px;
    height: 158px;
    background: url("../images/topBar.jpg") center center;
}

/*navBox*/
.navBox{
    min-width: 1080px;
    height: 40px;
    background-color: #000A23;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: normal;
    font-family: "Microsoft Yahei", "풕턼환쥌";
}
.navBox .nav{
    font-family: "Microsoft Yahei", "풕턼환쥌";
    font-size: 18px;
    margin-left: 280px;
    line-height: 40px;
}
.nav li{
    margin-right: 50px;
    float: left;
}
.nav a{
    height: 40px;
    display: inline-block;
    padding: 0 25px;
    color: #FFFFFF;
}
.nav li:hover{
    background-color: #E6E7E9;
}

/* main */
.main{
    border: 1px solid transparent;
    box-shadow: 0 0 15px #767684;
    height: 880px;
    position: relative;
}

.contactBar{
    position: absolute;
    right: 0;
    top: -255px;
    width: 350px;
    height: 80px;
    background: #000921 url("../images/xiangxia.jpg") no-repeat center 60px;
    border-radius: 5px;
}
.contactBar a{
    display: inline-block;
    margin: 10px 10px;
    float: left;
}
.contactBar a:first-child{
    margin-right: 85px;
}
.contactBar a:last-child{
    margin-left: 73px;
}


.logo{
    display: block;
    position: absolute;
    left: 38px;
    top: -198px;
}

.bannerImg{
    width: 955px;
    height: 118px;
    background: url("../images/banner01.jpg") center center;
    margin: 115px auto 80px;
}

/* calc */
.calc{
    width: 230px;
    float: left;
    margin: 0 105px 0 50px;
}
.title{
    font-size: 30px;
    font-family: "Microsoft Yahei", "풕턼환쥌";
    text-align: center;
    color: #000A23;
    margin-bottom: 35px;
}
.calc .multiButton{
    height: 104px;
}
.calc .multiButton li{
    float: left;
    width: 100px;
    margin-right: 2px;
    margin-bottom: 10px;
}
.calc .multiButton li a{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #000A23;
    border-radius: 5px;
    font-size: 17px;
    font-family: "Microsoft Yahei", "풕턼환쥌";
    text-align: center;
    padding: 0 15px;
}
.calc .multiButton .selected{
    color: #FFFFFF;
    background-color: #000A23;
    border: 1px solid #000A23;
}
.calc .multiButton ul:last-child li{
    float: left;
    width: 110px;
}
.calc .multiButton ul:last-child a{
    padding: 0 10px;
    font-size: 22px;
    font-family: "Microsoft Yahei", "풕턼환쥌";
}
.calc .multiButton ul:first-child{
    margin-left: 13px;
}
.calc .multiButton ul:last-child{
    margin-left: 2px;
}

.calc .content{
    background-color: #E6E7E9;
    width: 230px;
    height: 343px;
    border-radius: 5px;
    border: 1px solid transparent;
}
.calc .count{
    height: 30px;
    margin: 4px 4px 0;
    background: url("../images/multiIcon.jpg") no-repeat center center;
}
.calc .perPrice{
    float: left;
    width: 100px;
    height: 30px;
    color: #000A23;
    font-size: 25px;
    font-family: "Microsoft Yahei", "풕턼환쥌";
    background-color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
}
.calc .perPrice span{
    color: #000A23;
    font-size: 15px;
    font-family: "Microsoft Yahei", "풕턼환쥌";
}
.calc .content input{
    float: right;
    width: 55px;
    height: 30px;
    border-radius: 5px;
    background: #FFFFFF url("../images/inputBG2.jpg") no-repeat right center;
    padding-left: 15px;
    padding-right: 30px;
    color: #000A23;
    font-size: 15px;
    font-family: "Microsoft Yahei", "풕턼환쥌";
}
.allPrice{
    width: 190px;
    height: 74px;
    line-height: 74px;
    background: #FFFFFF url("../images/allPriceBG.jpg") no-repeat 175px 60px;
    color: #000A23;
    font-size: 40px;
    font-family: "Microsoft Yahei", "풕턼환쥌";
    text-align: center;
    margin: 40px auto 0;
    border-radius: 5px;
}
.result{
    width: 165px;
    height: 60px;
    line-height: 60px;
    color: #FFFFFF;
    background-color: #002309;
    border: 1px solid #000A23;
    border-radius: 5px;
    font-size: 24px;
    font-family: "Microsoft Yahei", "풕턼환쥌";
    text-align: center;
    margin: 20px auto 0;
}
.calcBtn{
    display: block;
    width: 114px;
    height: 40px;
    line-height: 40px;
    color: #FFFFFF;
    background-color: #000A23;
    border: 1px solid #000A23;
    border-radius: 5px;
    font-size: 17px;
    font-family: "Microsoft Yahei", "풕턼환쥌";
    text-align: center;
    margin: 20px auto 0;
}
.calc .tip{
    border-top: 1px solid #000A23;
    font-size: 12px;
    font-family: "Microsoft Yahei", "풕턼환쥌";
    color: #000A23;
    margin: 50px 10px 0 10px;
    padding-top: 10px;
}

/* upload */
.upload{
    width: 230px;
    float: left;
    margin-right: 105px;
}
.upload .uploadBtn{
    width: 114px;
    height: 40px;
    line-height: 40px;
    color: #FFFFFF;
    background-color: #000A23;
    border: 1px solid #000A23;
    border-radius: 5px;
    font-size: 17px;
    font-family: "Microsoft Yahei", "풕턼환쥌";
    text-align: center;
    margin: 0 auto;
}
.upload textarea{
    width: 230px;
    height: 134px;
    background-color: #E6E7E9;
    border-radius: 5px;
    margin-bottom: 8px;
    text-align: center;
    padding-top: 90px;
}
::-webkit-input-placeholder {
    color: #8F949E;
    font-family: "Microsoft Yahei", "풕턼환쥌";
    font-size: 12px;
}
::-moz-placeholder { color:#000921; } /* firefox 19+ */
:-ms-input-placeholder { color:#000921; } /* ie */
input:-moz-placeholder { color:#000921; }

.upload .content{
    width: 230px;
    height: 140px;
    font-family: "Microsoft Yahei", "풕턼환쥌";
    font-size: 12px;
    color: #000A23;
    text-align: center;
}
.upload .content .conTitle{
    width: 230px;
    height: 30px;
    line-height: 30px;
    background-color: #B3B6BD;
    border-radius: 10px;
    margin-bottom: 4px;
}
.upload .content .lf{
    float: left;
    width: 92px;
    height: 33px;
    line-height: 33px;
    background-color: #C0C2C8;
    margin-bottom: 2px;
    border-radius: 10px;
}
.upload .content .rf{
    float: right;
    width: 137px;
    height: 33px;
    line-height: 33px;
    background-color: #E6E7E9;
    margin-bottom: 2px;
    border-radius: 10px;
}
.upload .content .rf input{
    border-radius: 10px;
    padding-left: 15px;
}
.upload .tip{
    font-size: 12px;
    font-family: "Microsoft Yahei", "풕턼환쥌";
    color: #000A23;
    margin: 10px 0;
    text-align: center;
}


.payCode{
    margin-bottom: 2px;
}
/* pay */
.pay{
    width: 312px;
    float: left;
}

.pay .multiButton{
    height: 42px;
    margin-bottom: 10px;
}
.pay .multiButton li{
    float: left;
    margin-right: 2px;
    margin-bottom: 10px;
}
.pay .multiButton li a{
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #000A23;
    border-radius: 5px;
    font-size: 17px;
    font-family: "Microsoft Yahei", "풕턼환쥌";
    text-align: center;
}
.pay .multiButton .selected{
    color: #FFFFFF;
    background-color: #000A23;
    border: 1px solid #000A23;
}

.pay .qrCode{
    width: 312px;
    height: 300px;
    background-color: #E6E7E9;
    border-radius: 5px;
    border: 1px solid transparent;
    position: relative;
}
.pay .qrCode img{
    display: block;
    width: 200px;
    height: 200px;
    margin: 35px auto;
}
.pay .qrCode p{
    color: #000A23;
    font-size: 18px;
    font-family: "Microsoft Yahei", "풕턼환쥌";
    text-align: center;
}
.pay .qrCode .tip{
    position: absolute;
    left: 20px;
    top: 50px;
    width: 15px;
    color: #8F949E;
    font-size: 15px;
    font-family: "Microsoft Yahei", "풕턼환쥌";
}

.pay .tip{
    width: 312px;
    height: 96px;
    color: #000A23;
    font-size: 12px;
    font-family: "Microsoft Yahei", "풕턼환쥌";
    background-color: #E6E7E9;
    border-radius: 5px;
    border: 1px solid transparent;
}
.pay .tip p{
    margin: 0 0 2px 30px;
}
.pay .tip p:first-child{
    margin: 20px 0 4px 30px;
}

.loginBtn{
    position: absolute;
    left: -55px;
    top: 70px;
}
.Btn{
    position: absolute;
    left: 1080px;
    top: 470px;
}
.wechatQR{
    position: absolute;
    left: 1100px;
    top: 70px;
}